$primarylb: #64a6c2;
$primarydb: #264050;
$thmWhite: #ffffff;
$thmBlack: #515151;
$primaryFont: "Montserrat", sans-serif;

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
* {
  box-sizing: border-box;
}
body {
  font-family: $primaryFont;
  margin: 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    color: #222222;
    text-decoration: none;
    cursor: pointer;
  }

  p {
    font-family: $primaryFont;
    color: $thmBlack;
    font-size: 14px;
    margin: 0;
    line-height: 20px;
  }

  input,
  textarea {
    font-family: $primaryFont;
    outline: none;
    border: solid 1px #d7d7d7;
    background-color: $thmWhite;
    padding: 10px 6px;
    margin: 0;

    &::placeholder {
      color: #888888;
      font-size: 12px;
    }
  }

  .overlay {
    background-color: rgba(200, 200, 200, 0.1);
    width: 100%;
    height: 100%;
  }

  .imgOverlay {
    background-color: #1a3b528f;
    width: 100%;
    height: 100%;
  }

  section {
    position: relative;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      justify-content: space-around;
    }
  }
  .flex-row {
    flex-direction: row;
  }
  .flex-column {
    flex-direction: column;
  }
  .secTitle {
    color: $primarydb;
    font-size: 30px;
    font-weight: 800;
  }

  .bgImg {
    background-position: center;
    background-repeat: repeat;
    background-size: unset;
    background: linear-gradient(90deg, $thmWhite 11px, transparent 1%) center,
      linear-gradient($thmWhite 11px, transparent 1%) center, $thmBlack;
  }
}

.pd-10 {
  padding: 10px 20px;
}

// header
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
  z-index: 99;
  padding: 15px 10px;
  .logo {
    padding: 10px;
    margin-right: 20px;
    @media (max-width: 768px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    img {
      width: 80px;
    }
    .toggleNav {
      display: none;
      cursor: pointer;

      @media (max-width: 768px) {
        display: inline-block;
        background: transparent;
        border: none;
        font-size: 24px;
        color: $thmBlack;
        position: absolute;
        right: 2px;
        top: 8px;
      }
    }
  }
  .cta {
    @media (max-width: 768px) {
      width: 100%;
    }

    nav {
      @media (max-width: 768px) {
        display: none;
      }

      ul {
        display: flex;

        @media (max-width: 768px) {
          flex-direction: column;
        }

        li {
          font-size: 14px;
          position: relative;
          text-transform: uppercase;
          &:hover {
            color: $thmWhite;
            background-color: #4cb1dc;
            border-radius: 5px;
            a {
              color: $thmWhite;
            }

            ul.dropdown {
              display: block !important;
              a {
                color: $thmBlack;
                &:hover {
                  color: $thmWhite;
                }
              }
            }
          }

          a {
            color: #4cb1dc;
            font-weight: 700;
            font-size: 15px;
            padding: 20px;
            display: inline-block;

            @media (max-width: 875px) and (min-width: 768px) {
              padding: 13.5px;
            }
          }

          ul.dropdown {
            display: none !important;
            position: absolute;
            top: 55px;
            left: 0;
            background-color: $thmWhite;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            z-index: 99;
            color: $thmBlack !important;
            min-width: 150px;

            li {
              width: 100%;
            }
          }
        }

        li.callCta {
          &:hover {
            background-color: $thmWhite;
            color: $primarylb;
          }

          a {
            font-weight: 800;
          }
          @media (max-width: 768px) {
            border-top: 1px solid $thmBlack;
          }
        }
      }
    }
  }
}

// banner
#banner {
  .bannerImage {
    margin-top: -22vh;
    z-index: -10;
    height: 100vh;
    // width: 100vw;
    background-origin: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .mySlides {
      display: none;
      width: 100%;
      height: 100%;

      .img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        h2 {
          color: $thmWhite;
          font-size: 30px;
          width: 345px;
          margin-top: 3em;
          margin-left: 1.5em;

          @media (max-width: 425px) {
            max-width: 290px;
            font-size: 24px;
          }
        }
      }
    }
    .dotContainer {
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, -50%);

      .dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin: 0 2px;
        background-color: $thmWhite;
        display: inline-block;
        transition: background-color 0.6s ease;
        cursor: pointer;
      }
    }
    .active {
      background-color: $primarylb !important;
    }
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 2s;
      animation-name: fade;
      animation-duration: 0.2s;
    }

    @-webkit-keyframes fade {
      from {
        opacity: 0.5;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes fade {
      from {
        opacity: 0.4;
      }

      to {
        opacity: 1;
      }
    }
  }
}
#feature {
  text-align: center;
  h2 {
    margin: 2em 0;
  }
  .center {
    justify-content: space-around;
  }
  .card-container {
    width: 30%;
    box-shadow: 0px 0px 3px 0px #827777;
    img {
      width: 100%;
    }
    h3 {
      margin-block-start: 5px;
      margin-block-end: 5px;
      font-size: 15px;
    }
    p {
      font-family: "Montserrat", sans-serif;
      color: #515151;
      font-size: 0.6em;
      margin: 0;
      line-height: 20px;
    }
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  &::after {
    clear: both;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
